body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.app-container{
  height: 480px;
  width: 300px;
  background: blue;
  border-radius: 20px;
}

.tempreture-display-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.tempreture-display{
  display: flex;
  border-radius: 50%;
  background-color: gray;
  color: white;
  height: 220px;
  width: 220px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  border: 3px white solid;
}

button{
  border-radius: 100px;
  color: white;
  height: 80px;
  width: 80px;
  font-size: 32px;
  background-color: blue;
  border: 2px white solid;
}

button:hover{
  background: grey;
  cursor: pointer;
}

button:focus{
  outline: 0;
}

.button-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.neutral{
  background: grey;
}

.cold{
  background: turquoise;
}

.hot{
  background: orange;
}